---
# vars exposed to ansible from provisioner
gitea_ip: ${gitea_ip}
bastion_ip: ${bastion_ip}
drone_ip: ${drone_ip}
git_dns: ${git_dns}
drone_dns: ${drone_dns}
k8s_control_lb_ip: ${k8s_control_lb_ip}
k8s_net_range: ${k8s_net_range}
apiserver_advertise_address: ${apiserver_advertise_address}
k8s_dns: ${k8s_dns}
setup_vpn_client: ${setup_vpn_client}
